#conteudo {
    margin-top: 60px;
    background: #f5f5f5;
}

/* Layout */
#primario {
    background-color: black;
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#secundario {
    background-color: blue;
    width: 270px;
    float: left;
    margin: 0 0px 20px 15px;
}

#lateral {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

.caixa {
    background: url(../images/fundo-caixa.png);
    padding: 5px;
    margin: 10px 0;
}

.caixa h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
}

.conteudo-caixa {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

/*
    Lateral
*/

#lateral .conteudo-caixa ul li a {
    display: block;
    font-size: 0.9em;
    color: #000;
    padding: 3px;
    line-height: 30px;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#lateral .conteudo-caixa ul li a:hover {
    background: #f9f9f9 url(../images/marcador.png) no-repeat left center;
    color: #a1a1a1;
    padding-left: 20px;
}

#lateral label {
    display: block;
    cursor: pointer;
}

#lateral input {
    width: 125px;
    background: #fff;
    padding: 5px;
}

#lateral input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
}


